<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/140916_JDBC/src/org/han/foodstore/util/VOMaker.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.han.foodstore.util.VOMaker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="140916_JDBC"/>
</launchConfiguration>
